/* Inline: não quebra de linha, largura minima, apenas aceita margem e preenchimento horizontal */
.inline {
    display: inline;
    background-color: ;        
}

/* block: Quebra de linha, largura máxima, aceita margem e preenchimento vertical */
.block {
    display: block;
}

/* inline-block: não quebra linha, aceita margem e preenchimento vertical  */
.inline-block {
    display: inline-block;
}